
body #carousel .cl-effect-2 a span {background-color:transparent;color:#fff;text-transform:none;font-size:25px;line-height:200%;font-family:'Raleway', sans-serif;}
body #carousel .cl-effect-2 a span:before {background-color:transparent;text-transform:none;font-size:25px;line-height:200%;font-family:'Raleway', sans-serif;}
*{
	margin: 0;
	padding: 0;
}
/*----------------------------------------------------*/
/*	Common
/*----------------------------------------------------*/
body,html {font-family: 'Open Sans', sans-serif;font-size:14px;}

a {text-decoration:none;}

h2 {margin:30px 0;display:block;width:100%;font-family: 'Raleway', sans-serif;font-weight:500;}
h3 {font-family: 'Raleway', sans-serif;}

h3.center {text-align:center;width:100%;font-weight:300;font-size:2em;margin:40px 0 20px 0;background: url(../img/sprite.png) no-repeat 50% -46px;}

section {float:left;width:100%;position:relative;margin:0;}
section.page {margin-top:60px;padding:40px 0;}



/*----------------------------------------------------*/
/*	Wrappers & other
/*----------------------------------------------------*/
#wrapper {width:100%;overflow:hidden;}
.wrap {width:940px;margin:0 auto;z-index:4;position:relative;}
.clear {width:100%;clear:both;float:left;}
.space {float:left;margin:20px 0;clear:both;width:100%;}
.nospace {margin:0!important;padding:0!important;}

.page-title {position:relative;width:100%;font-family: 'Raleway', sans-serif;font-size:45px;color:#000;font-weight:800;text-align:center;margin:80px 0 0 0;letter-spacing:-0.1rem;text-transform:uppercase;}
.page-title.float {float:left;width:100%;}
.page-title span {font-weight:300;}
.page-title .border {position:absolute;left:50%;bottom:-10px;width:100px;height:2px;background-color:#eee;margin-left:-50px;}
.page-subtitle {width:100%;font-family: 'Raleway', sans-serif;font-size:25px;color:#929292;font-weight:300;text-align:center;margin-top:22px;}



/*----------------------------------------------------*/
/*	Header
/*----------------------------------------------------*/
#header {position:fixed;display:block;width:100%;height:60px;z-index:9;min-width:320px;}
#header .main {position:relative;z-index:3;}
#header .after {position:absolute;width:100%;height:100%;top:-60px;z-index:2;background-color:#fff;-webkit-box-shadow:0px 0px 65px 0px rgba(0,0,0,0.4);-moz-box-shadow:0px 0px 65px 0px rgba(0,0,0,0.4);box-shadow:0px 0px 65px 0px rgba(0,0,0,0.4);}

#header.sticky .after {top:0;-webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.05);box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.05);}
#header.sticky #navigation li a {color:#000;}
#header.sticky #navigation ul li a {color:#fff;}
#header.sticky #navigation li span.border {background-color:#ef6661;}
#header.sticky #logo .label {background-color:#000;transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
#header.sticky #logo h1 {color:#fff;}

#mobile {display:none;}






/*----------------------------------------------------*/
/*	Carousel
/*----------------------------------------------------*/
#carousel {position:relative;display:block;width:100%;bottom:0;top:0;height:100%;overflow:hidden;height:300px;}
#carousel .carousel-holder {position:absolute;display:block;width:100%;height:100%;bottom:0;top:0;background-color:#000;overflow:hidden;}
#carousel .bg-img {height:100%;}
#carousel .bg-1 .sl-slide-inner {background: url(../img/carousel/slide-1.jpg) 50% 0;}
#carousel .bg-img-2 {background-image: url(../img/carousel/slide-1.jpg);}
#carousel .bg-img-3 {background-image: url(../img/carousel/slide-1.jpg);}
#carousel .bg-img-4 {background-image: url(../img/carousel/slide-1.jpg);}
#carousel .bg-img-5 {background-image: url(../img/carousel/slide-1.jpg);}



.slide-text {position:relative;top:0;}
.slide-text li {height:21px;}

/* pattern */
.pattern {background-image:url(../img/pattern.png);position:absolute;opacity:0.8;left:0px;top:0px;right:0;bottom:0;width:100%;height:100%;z-index:1; }


.sub-text {position:absolute;top:50%;margin-top:30px;width:100%;height:21px;overflow:hidden;font-family:'Raleway', sans-serif;text-shadow:0 0 5px rgba(0,0,0,0.3);text-transform:uppercase;text-align:center;font-weight:400;font-size:20px; line-height:20px;color:#fff;z-index:20; }
.scroll-btn {position: absolute;bottom:40px;left:50%;margin-left:-20px;-webkit-transition: all .35s ease-in-out;-moz-transition: all .35s ease-in-out;transition: all .35s ease-in-out;width: 40px;height:46px;background:url(../img/sprite.png) no-repeat -155px -219px;z-index: 11;opacity:.6;}

/* scroll button animation */
@keyframes arrows {
	0% { bottom:40px; }rb-grid
	10% { bottom:50px; }
	20% { bottom:40px; }
	30% { bottom:50px; }
	40% { bottom:30px; }
	50% { bottom:50px; }
	60% { bottom:40px; }
	70% { bottom:50px; }
	80% { bottom:30px; }
	90% { bottom:50px; }
	100% { bottom:40px; }
}
@-webkit-keyframes arrows {
	0% { bottom:40px; }
	10% { bottom:50px; }
	20% { bottom:40px; }
	30% { bottom:50px; }
	40% { bottom:30px; }
	50% { bottom:50px; }
	60% { bottom:40px; }
	70% { bottom:50px; }
	80% { bottom:30px; }
	90% { bottom:50px; }
	100% { bottom:40px; }
}
.scroll-btn {-webkit-animation: arrows 3.8s infinite;-webkit-animation-delay: 1s;animation: arrows 3.8s infinite;animation-delay: 1s;cursor:pointer;}





/*----------------------------------------------------*/
/*	Screenshots
/*----------------------------------------------------*/
.gray {float:left;background-color:#f9f9f9;width:100%;}
.screens {float:left;width:100%;height:550px;margin-top:30px;position:relative;}
.screens div {opacity:0;}
.screens .center {float:left;height:600px;position:absolute;left:50%;margin-left:-300px;}
.screens .center img {max-width:600px;}
.screens .left {float:left;width:400px;position:absolute;left:300px;top:15%;}
.screens .right {float:left;width:400px;position:absolute;right:300px;top:15%;}
.screens .left img, .screens .right img {max-width:400px;}



/*----------------------------------------------------*/
/*	Navigation
/*----------------------------------------------------*/
#navigation {float:right;font-size:0;position:relative;top:-25px;text-align:center;width:100%;}
#navigation li {display:inline-block;font-size:14px;width:125px;}

#navigation li a {display:block;position:relative;padding:21px 0;margin:0;color:#fff;text-transform:uppercase;font-size:0.9em;}
#navigation li span.arrow {position:relative;top:-1px;}
#navigation li span.border {position:absolute;left:0;bottom:-5px;width:0;height:5px;background-color:#fff;}
#navigation li a:hover span.border, #navigation li a.active span.border {width:100%;}
#navigation ul li a:hover {background-color:#fff;color:#000!important;}

/* navigation submenu */
#navigation ul {display:none;position:absolute;margin:0;padding:0;text-align:left;}
#navigation ul li {display:block;position:relative;}
#navigation ul li a {width:150px;background-color:#000;padding:10px 20px;}
#navigation li:hover > ul {display:block;}

/* navigation sub sub menu */
#navigation ul li ul {display:none;position:absolute;top:0;left:190px;}



/*----------------------------------------------------*/
/*	Logo
/*----------------------------------------------------*/
#logo {float:left;height:60px;font-size:30px;font-weight:800;font-family: 'Ubuntu', sans-serif;color:#000;line-height:57px;padding:0!important;margin:0;}
#logo h1 {position:relative;z-index:2;font-size:30px;width:120px;text-align:center;margin:25px 0 0 0;letter-spacing:-0.2rem;color:#000;}
#logo .label {position:absolute;display:block;background-color:#fff;top:-35px;left:0;width:120px;height:120px;z-index:1;}



/*----------------------------------------------------*/
/*	Portfolio
/*----------------------------------------------------*/
#portfolio{
  background:#000;
	margin:0;
	padding :0;


}

.positive{
	color:#fff;
}

.portfolioContainer {

	padding-bottom: 5%;

}


.portfolioFilter{
	text-align:center;
	font-size: 30px;
}
.portfolioFilter a {
    margin-right: 20px;
	color:#666;
	text-decoration:none;
}

.portfolioFilter  a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.portfolioFilter a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.portfolioFilter a.current {
    font-weight:bold;
		color:lightblue;
}


.item>img {
    /*margin-left: 15%;*/
		width:70%;
		height:auto;
}
/*
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
/*
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}*/






/*----------------------------------------------------*/
/*	About
/*----------------------------------------------------*/

#about{
  text-align:center;
}
#about .page-subtitle{
  width:70%;
  margin-left:15%;
}
.btn {position:relative;display:inline-block;padding:10px 30px;margin-bottom:30px;background-color:#ef6661;color:#fff;box-shadow:0 4px 0 #ca4641;-moz-box-shadow:0 4px 0 #ca4641;-webkit-box-shadow:0 4px 0 #ca4641;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.btn:hover {background-color:#f46f6a;}



/*----------------------------------------------------*/
/*	Contacts
/*----------------------------------------------------*/
#map {width:100%;height:640px;background-color:#000;position:relative;z-index:1;}

.title-contact-mobile {display:none;}

#contacts {float:left;width:100%;position:relative}
#contacts .navigation {position:absolute;top:10px;left:10px;margin:0;z-index:2;}
#contacts .navigation a {display:block;width:42px;height:42px;background: #000 url(../img/sprite.png) no-repeat -205px 5px;}
#contacts .navigation a:hover {opacity:0.8;}
#contacts .navigation a#zoomout {background-position:-155px 5px;margin-top:1px;}
#contacts .marker-label {position:relative;top:35px;left:175px;}

/* contacts form */
#contacts .get-in-touch {position:absolute;top:0;right:0;z-index:4;width:450px;left:50%;top:160px;margin-left:62px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
#contacts .get-in-touch input, #contacts .get-in-touch textarea, #contacts .get-in-touch button {display:block;width:100%;border:0;background-color:#000;color:#fff;padding:10px;margin-bottom:8px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
#contacts .get-in-touch input, #contacts .get-in-touch textarea, #zoomout, #zoomin, #contacts .get-in-touch button {-webkit-box-shadow: 12px 12px 0px rgba(50, 50, 50, 0.27);-moz-box-shadow:12px 12px 0px rgba(50, 50, 50, 0.27);box-shadow:12px 12px 0px rgba(50, 50, 50, 0.27);}
#contacts .get-in-touch input.error, #contacts .get-in-touch textarea.error {background-color:#ef6661;}
#contacts .get-in-touch textarea {height:120px;resize:none;}
#contacts .get-in-touch .col {float:left;width:31.53333333333%;margin-left:1.8003%;text-align:center;}
#contacts .get-in-touch button:hover {background-color:#fff;color:#000;}
#contacts .text {position:absolute;left:50%;margin-left:-517px;top:80px;display:block;width:500px;height:100px;z-index:2;text-align:center;}
#contacts .text h2 {font-family:'Raleway', sans-serif;font-size:32px;font-weight:800;margin:64px 0 19px;letter-spacing:0rem;}
#contacts .text h2 span {height:1px;}
#contacts .text p {font-size:15px;font-weight:300;margin:0;color:#000;}
#contacts .text .border {background-color:#252525;}
#contacts .contacts-mobile-over {display:none;position:absolute;width:100%;height:100%;background-color:#fff;z-index:3;}







/*----------------------------------------------------*/
/*	Go to top button
/*----------------------------------------------------*/
#go-top {opacity:0;width:50px;height:50px;display:block;position:fixed;right:0;bottom:0;background: #000 url(../img/sprite.png) no-repeat -101px 6px;cursor:pointer;z-index:6;}
#go-top.bottom {position:absolute;right:0;top:-50px;}
#go-top:hover {background-color:rgba(0,0,0,0.8)}



/*----------------------------------------------------*/
/*	Transitions
/*----------------------------------------------------*/
#logo, #navigation li a, #portfolio .item .over, #portfolio .item, #team .member img, #team .info, #team .info:after, #team .social a,
#core .core, #core .fa, #navigation li span.border, #header .after, #go-top, #logo:after, #footer .social a, #logo .label, #logo h1,
.customers li .over, .core-values .core, .nav-controls a, #contacts .get-in-touch button {
	transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;
}



/*----------------------------------------------------*/
/*	Rotation
/*----------------------------------------------------*/
.rotate {transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.radius {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}



/*----------------------------------------------------*/
/*	Footer
/*----------------------------------------------------*/
#footer {position:relative;float:left;width:100%;text-align:center;min-height:200px;background-color:#000;font-size:0.9em;}
#footer strong {display:inline-block;font-family: 'Ubuntu', sans-serif;font-weight:800;font-size:30px;color:#fff;padding:48px 0 20px 0;}

#footer .social {display:block;height:50px;margin:0 0 15px 0;text-align:center;font-size:0;}
#footer .social li {display:inline-block;}
#footer .social li a {display:block;width:29px;height:28px;padding:2px;font-size:20px;color:#fff;}
#footer .social li a:hover {background-color:#fff;color:#000;}

/*----------------------------------------------------*/
/*	Social
/*----------------------------------------------------*/
.soc ul{
  list-style-type:none;background:blue;

}
.soc a{
  text-align:center;
  background:blue;


}
